<% if article.errors.present? %>
	<ul class="list-group">
		<% article.errors.full_messages.each do |message| %>
			<li class="list-group-item list-group-item-danger"><%= message %></li>
		<% end %>
	</ul>
<% end %>
<%  model = article.new_record? ? [employee, article] : article %>
<%= form_with model: model, local: true do |f| %>
	<div class="mb-3 form-group">
		<%= f.label :title, class:'form-label'%>
		<%= f.text_field :title, placeholder: "タイトルを入力してください。",class:'form-control' %>
	</div>
	<div class="mb-3 form-group">
		<%= f.label :content, class:'form-label'%>
		<%= f.text_area :content, placeholder: "内容を入力してください。", class:'form-control' %>
	</div>
	<%= f.submit nil, class:'btn btn-primary' %>
<% end %>
