<%# 記事投稿ページ %>
<% if @article.errors.present? %>
	<ul>
		<% @article.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>
<%= form_with model: @article, url: {action: 'create'}, local: true do |f| %>
	<div class="mb-3">
		<%= f.label :title, class:'form-label'%>
		<%= f.text_field :title, placeholder: "タイトルを入力してください。", class:'form-control' %>
	</div>
	<div class="mb-3">
		<%= f.label :content, class:'form-label'%>
		<%= f.text_area :content, placeholder: "内容を入力してください。", class:'form-control' %>
	</div>
	<%= f.submit "投稿", class:'btn' %>
<% end %>
